# Server Configuration
PORT=5000

# Authentication
JWT_SECRET="your_jwt_secret"

# Database Connection String
# Format: postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:npg_DAup9PG4kfsg@ep-falling-leaf-ao89x9zg.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"